.clientsSlider {
   width: 100%;
   display: flex;
   justify-content: center;
   &__container {
      width: 1366px;
      height: 240px;
      background: #1c1c1c;
      display: flex;
      justify-content: center;
      @media (max-width: $md1) {
         width: 100%;
         height: 100px;
      }
      @media (max-width: $md3) {
         height: 80px;
      }
   }
   &__body {
      width: 876px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__item {
      margin-top: 45px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: $md1) {
         margin-top: 0;
      }
      &_companyLogo {
         position: relative;
         width: 52px;
         height: 56px;
         img {
            width: 100%;
            display: block;
         }
         @media (max-width: $md1) {
            width: 34.6px;
            height: 37.3px;
         }
         @media (max-width: $md2) {
            width: 30px;
            height: 34px;
         }
         @media (max-width: $md3) {
            width: 52px;
            height: 56px;
         }
         @media (max-width: $md4) {
            width: 34.6px;
            height: 37.3px;
         }
      }
      &_companyName {
         font-family: "MgOpenModataRegular";
         font-weight: normal;
         font-size: 33px;
         line-height: 40px;
         color: #ececec;
         @media (max-width: $md1) {
            font-size: 24px;
         }
         @media (max-width: $md2) {
            font-size: 20px;
         }
         @media (max-width: $md3) {
            font-size: 36px;
         }
         @media (max-width: $md4) {
            font-size: 24px;
         }
      }
      .companyLogoActive {
         top: 0;
         right: 10px;
         position: absolute;
         display: block;
      }
      .companyLogoUnactive {
         top: 0;
         right: 10px;
         position: absolute;
         display: block;
      }
      &.slick-active {
         .companyLogoActive {
            z-index: 0;
         }
         .companyLogoUnactive {
            z-index: 1;
         }
      }
      &.slick-current.slick-active {
         .companyLogoActive {
            z-index: 1;
         }
         .companyLogoUnactive {
            z-index: 0;
         }
      }
   }
   .slick-arrow {
      position: absolute;
      top: 50%;
      font-size: 0;
      width: 16px;
      height: 27px;
      cursor: pointer;
      z-index: 2;
   }
   .slick-arrow.slick-prev {
      background: url("../assets/img/clients/arrow_left.png") 0 0 / 100% no-repeat;
      left: 0;
   }
   .slick-arrow.slick-next {
      background: url("../assets/img/clients/arrow_right.png") 0 0 / 100% no-repeat;
      right: 0;
   }
   .slick-list {
      overflow: hidden;
   }
   .slick-track {
      display: flex;
   }
   .slick-list.draggable {
      width: 100%;
   }
}
