//@include font("Georgia-Regular", "Raleway-Regular", "400", "normal");
//@include font("UniSans-webfont", "UniSans-webfont", "400", "normal");
//@include font("Raleway-Medium", "Raleway-Medium", "400", "normal");
//@include font("Wider", "Wider", "400", "normal");
@font-face {
   font-family: "BigNoodleTitling";
   src: url("../assets/fonts/BigNoodleTitling.ttf") format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: "Roboto";
   src: url("../assets/fonts/RobotoBold.ttf") format("truetype");
   font-weight: 700;
}
@font-face {
   font-family: "Roboto";
   src: url("../assets/fonts/RobotoThin.ttf") format("truetype");
   font-weight: 100;
}
@font-face {
   font-family: "Roboto";
   src: url("../assets/fonts/RobotoLight.ttf") format("truetype");
   font-weight: 300;
}
@font-face {
   font-family: "RobotoCondensed";
   src: url("../assets/fonts/RobotoCondensedBold.ttf") format("truetype");
   font-weight: 700;
}
@font-face {
   font-family: "RobotoCondensed";
   src: url("../assets/fonts/RobotoCondensedRegular.ttf") format("truetype");
   font-weight: 400;
}
@font-face {
   font-family: "MgOpenModataRegular";
   src: url("../assets/fonts/MgOpenModataRegular.ttf") format("truetype");
   font-weight: 400;
}
