.footer {
   width: 100%;
   height: 239px;
   background-color: #171f23;
   display: flex;
   justify-content: center;
   @media (max-width: $md0) {
      height: 160px;
   }
   &__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: $md0) {
         justify-content: flex-start;
      }
      &_logo {
         margin-top: 10px;
      }
      &_title {
         text-transform: uppercase;
         font-family: "BigNoodleTitling";
         font-size: 24px;
         line-height: 0.75;
         font-weight: 400;
         letter-spacing: 0.1em;
         color: #ffffff;
         margin-top: 9px;
      }
      &_motto {
         font-family: "RobotoCondensed";
         font-size: 14px;
         line-height: 0.75;
         font-weight: 400;
         letter-spacing: 0.1em;
         color: #ffffff;
         margin-top: 14px;
         @media (max-width: $md4) {
            font-size: 12px;
         }
      }
      &_socialNetworks {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: 1fr;
         grid-column-gap: 9px;
         justify-content: center;
         align-items: center;
         margin-top: 18px;
      }
   }
}
