.header {
   width: 100%;
   background: #f8f6f6;
   height: 140px;
   border-bottom: 3px solid #edebeb;
   overflow: auto;
   z-index: 10000;
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   position: fixed;
   top: 0;

   @media (max-width: $md2) {
      height: 100px;
   }

   @media (max-width: $md3) {
      height: 70px;
   }
   &__bottomLine {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #f0eeee;
   }
   &__container {
      width: 1366px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   &__logo {
      max-width: 50%;
      position: absolute;
      left: 188px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      @media (max-width: $md1) {
         left: 94px;
      }
      @media (max-width: $md2) {
         left: 24px;
      }
      @media (max-width: $md4) {
         left: 10px;
      }
      &_image {
         width: 29px;
         height: 45px;
         margin-right: 25px;
         img {
            width: 100%;
            height: 100%;
            display: block;
         }
         @media (max-width: $md2) {
            margin-right: 15px;
            width: 21.75px;
            height: 33.75px;
         }
         @media (max-width: $md3) {
            margin-right: 10px;
         }
         @media (max-width: $md4) {
            margin-right: 5px;
         }
      }
      &_title {
         font-size: 40px;
         letter-spacing: 0.1em;
         line-height: 1.2;
         color: #696969;
         @media (max-width: $md2) {
            font-size: 36px;
         }
         @media (max-width: $md3) {
            font-size: 32px;
            letter-spacing: 0.05em;
         }
      }
   }
   &__navigationMenu {
      max-width: 50%;
      margin-right: 10px;
      position: absolute;
      right: 10px;
      top: -100px;
      transition: all 0.3s ease 0s;
      @media (max-width: $md4) {
         margin-right: 0;
      }
   }
   &__navigationMenu.active {
      top: calc(50% - 10px);
      @media (max-width: $md3) {
         top: calc(50% - 30px);
         right: 50px;
      }
   }
   &__navigationMenuList {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      &:hover {
         background-color: #ebebeb;
      }
      @media (max-width: $md3) {
         flex-direction: column;
      }
      li {
         display: flex;
         flex-direction: row;
         justify-content: center;
         padding: 1px 3px;
         a {
            text-decoration: none;
            color: #696969;
            font-family: "BigNoodleTitle";
            text-transform: uppercase;
            font-size: 16px;
            line-height: 0.75;
            @media (max-width: $md2) {
               font-size: 14px;
            }
         }
         &:hover {
            background: #353535;
            a {
               color: #d6d5d5;
            }
         }
      }
   }
   &__burger {
      width: 38px;
      height: 21px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      right: 188px;
      transition: all 0.3s ease 0s;
      &.active {
         bottom: 30px;
      }
      @media (max-width: $md1) {
         right: 90px;
      }
      @media (max-width: $md2) {
         right: 24px;
      }
      @media (max-width: $md4) {
         right: 14px;
      }
   }
   &__burgerLine {
      background-color: #464646;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease 0s;
      box-sizing: content-box;
      &_firstLine {
         margin-bottom: 7px;
      }
      &_centerLine {
      }
      &_lastLine {
         margin-top: 7px;
      }
   }
   &__burgerLine_centerLine.active {
      width: 60%;
      transform: rotate(90deg);
      position: absolute;
      bottom: 0;
      @media (max-width: $md3) {
         top: 0;
         right: 7px;
      }
   }
   &__burgerLine_firstLine.active {
      width: 50%;
      transform: rotate(45deg);
      position: absolute;
      right: 3px;
      top: 9px;
      @media (max-width: $md3) {
         top: -8px;
      }
   }
   &__burgerLine_lastLine.active {
      width: 50%;
      transform: rotate(-45deg);
      position: absolute;
      left: 3px;
      bottom: 10px;
      @media (max-width: $md3) {
         top: -15px;
      }
   }
}
