//!Подключение файлов scss
@import "fonts";
@import "normalize";
$md0: 1004px;
$md1: 960px;
$md2: 768px;
$md3: 620px;
$md4: 480px;

body {
   background-color: #fff;
}
.forFontBigNoodleTitle {
   font-family: "BigNoodleTitling";
   line-height: 0.75em;
   font-weight: 400;
}
.forFontRoboto {
   font-family: "Roboto";
   line-height: 0.75em;
}
@import "header";
@import "clientsSlider";
.topMotto {
   width: 100%;
   height: 708px;
   margin-top: 140px;
   display: flex;
   justify-content: center;
   background-color: #353535;
   @media (max-width: $md1) {
      margin-top: 140px;
      height: 240px;
   }
   @media (max-width: $md2) {
      margin-top: 100px;
   }
   @media (max-width: $md3) {
      height: 170px;
   }
   &__container {
      position: relative;
      width: 1366px;
      display: flex;
      flex-direction: column;
      text-align: center;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 323px;
      font-size: 72px;
      letter-spacing: 0.15em;
      color: #d6d5d5;
      @media (max-width: $md1) {
         margin-top: 15px;
         line-height: 0.9;
         font-size: 64px;
      }
      @media (max-width: $md3) {
         margin-top: 10px;
         font-size: 48px;
      }
      @media (max-width: $md4) {
         font-size: 36px;
      }
   }
   &__subtitle {
      margin-top: 25px;
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: #d6d5d5;
      @media (max-width: $md1) {
         margin-top: 10px;
      }
      @media (max-width: $md2) {
         margin-top: 10px;
      }
      @media (max-width: $md3) {
         display: none;
      }
   }
   &__scrollDown {
      margin-top: 171px;
      @media (max-width: $md1) {
         margin-top: 18px;
      }
      @media (max-width: $md2) {
         margin-top: 10px;
      }
      @media (max-width: $md3) {
      }
      @media (max-width: $md4) {
         margin-top: 30px;
      }
      img {
         width: 17px;
         height: 37px;
      }
      &_title {
         margin-top: 19px;
         font-size: 12px;
         font-weight: 700;
         color: #ffffff;
         @media (max-width: $md1) {
            margin-top: 3px;
         }
      }
   }
}
.aboutUs {
   width: 100%;
   display: flex;
   justify-content: center;
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 94px;
      font-size: 48px;
      letter-spacing: 0.1em;
      color: #3d3d3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @media (max-width: $md1) {
         margin-top: 30px;
      }
      @media (max-width: $md2) {
         font-size: 36px;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -9px;
         width: 153px;
         height: 3px;
         background-color: #f4511e;
      }
   }
   &__subtitle {
      margin-top: 25px;
      line-height: 1.2;
      font-size: 14.1px;
      font-weight: 100;
      color: #696969;
   }
   &__sections {
      margin-top: 57px;
      display: grid;
      grid-template-columns: repeat(3, 320px);
      grid-template-rows: 195px;
      grid-column-gap: 21px;
      @media (max-width: $md1) {
         margin-top: 20px;
         grid-template-columns: repeat(3, 240px);
         grid-column-gap: 14px;
      }
      @media (max-width: $md2) {
         grid-template-columns: repeat(3, 180px);
         grid-column-gap: 7px;
      }
      @media (max-width: $md3) {
         grid-template-rows: repeat(3, 100px);
         grid-template-columns: 98%;
         grid-row-gap: -10px;
      }
   }
   &__sectionsPoint {
      background: #ebebeb;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      @media (max-width: $md1) {
         padding: 0 10px;
      }
      @media (max-width: $md2) {
         padding: 5px;
         height: 80%;
      }
      @media (max-width: $md3) {
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         height: 90%;
      }
   }
   &__sectionsPointImage {
      height: 111px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         display: block;
         width: 100%;
      }
      @media (max-width: $md2) {
         img {
            width: 80%;
         }
      }
      @media (max-width: $md3) {
         justify-content: flex-start;
         height: 100%;
         img {
            margin-left: 10px;
            width: 70%;
         }
      }
   }
   &__sectionsPointContent {
      height: 62px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_title {
         font-size: 17.7px;
         font-weight: 700;
         letter-spacing: 0.025em;
         color: #707070;
         text-transform: uppercase;
      }
      &_text {
         margin-top: 16px;
         width: 250px;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         font-size: 14px;
         line-height: 1.2;
         font-weight: 100;
         letter-spacing: 0.025em;
         color: #707070;
         @media (max-width: $md1) {
            width: 200px;
            overflow: hidden;
         }
         @media (max-width: $md2) {
            width: 140px;
         }
         @media (max-width: $md3) {
            width: 100%;
         }
      }
      @media (max-width: $md3) {
         width: 100%;
      }
   }
   &__blockVideo {
      width: 100%;
      height: 430px;
      margin-top: 118px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 430px;
      @media (max-width: $md1) {
         grid-template-rows: 170px 360px;
         grid-template-columns: 100%;
         margin-top: 20px;
      }
   }
   &__blockVideoText {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #171f23;
      &_title {
         margin-top: 130px;
         font-size: 30px;
         font-weight: 700;
         color: #e7e7e7;
         letter-spacing: 0.025em;
         @media (max-width: $md1) {
            margin-top: 20px;
         }
         @media (max-width: $md2) {
            font-size: 25px;
         }
      }
      &_article {
         width: 500px;
         margin-top: 30px;
         font-size: 14px;
         hyphens: auto;
         line-height: 1.2;
         font-weight: 100;
         color: #696969;
         @media (max-width: $md1) {
            margin-top: 15px;
            width: 90%;
            hyphens: auto;
            overflow: auto;
         }
      }
      button {
         margin-top: 48px;
         width: 127px;
         height: 37px;
         background: #e84c3d;
         border-bottom: 2px solid #b11000;
         box-sizing: border-box;
         font-size: 14px;
         line-height: 1.2;
         font-weight: 700;
         color: #ebebeb;
         cursor: pointer;
         &:hover {
            background: #9d3329;
            border-bottom: 2px solid #8e0c00;
         }
         @media (max-width: $md1) {
            margin: 12px 0;
         }
      }
   }
   &__blockVideoPlayer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: center/cover no-repeat url("../assets/img/blockVideoStubImageBlack.png");
      &:hover {
         background: center/cover no-repeat url("../assets/img/blockVideoStubImage.png");
      }
      &:active {
         background: center/cover no-repeat url("../assets/img/blockVideoStubImageActive.png");
      }
      #video {
         display: none;
      }
      #video.played {
         display: block;
      }
      iframe {
         width: 100%;
         height: 100%;
      }
      @media (max-width: $md1) {
         width: 100%;
         height: 100%;
      }
      @media (max-width: $md2) {
         height: 80%;
      }
      @media (max-width: $md3) {
         height: 60%;
      }
   }
}
.ourWorks {
   width: 100%;
   display: flex;
   justify-content: center;
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 77px;
      font-size: 48px;
      letter-spacing: 0.1em;
      color: #3d3d3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         bottom: -12px;
         width: 153px;
         height: 3px;
         background-color: #f4511e;
      }
      @media (max-width: $md1) {
         margin-top: 10px;
      }
      @media (max-width: $md2) {
         font-size: 36px;
      }
   }
   &__subtitle {
      margin-top: 25px;
      line-height: 1.2;
      font-size: 14.1px;
      font-weight: 100;
      color: #696969;
      @media (max-width: $md1) {
         margin-top: 15px;
         font-size: 13px;
      }
   }
   &__navigationMenu {
      margin-top: 84px;
      @media (max-width: $md1) {
         margin-top: 42px;
      }
      @media (max-width: $md2) {
         margin-top: 21px;
      }
   }
   &__navigationMenuList {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 20px;
      grid-column-gap: 33px;
      @media (max-width: $md2) {
         grid-column-gap: 5px;
      }
      li {
         a {
            text-decoration: none;
            font-size: 13.7px;
            font-weight: 100;
            letter-spacing: 0.1em;
            color: #3d3d3d;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &::after {
               content: "";
               position: absolute;
               bottom: -7px;
               width: 70%;
               height: 1px;
               background-color: #e84c3d;
            }
            &:hover {
               font-weight: 700;
               &::after {
                  width: 80%;
               }
            }
            &:active {
               &::after {
                  height: 2px;
               }
            }
            &.active {
               font-weight: 700;
               &::after {
                  width: 80%;
               }
            }
            @media (max-width: $md2) {
               font-size: 11px;
               line-height: 0.9;
            }
         }
      }
   }
   &__directions {
      position: relative;
      width: 100%;
      height: 524px;
      margin-top: 26px;
      @media (max-width: $md1) {
         margin-top: 10px;
         height: 330px;
         .direction {
            grid-template-rows: repeat(3, 1fr);
         }
      }
      @media (max-width: $md2) {
         height: 220px;
         .direction {
            grid-template-rows: repeat(2, 1fr);
         }
      }
      @media (max-width: $md3) {
         height: 180px;
      }
   }
   &__allProjects {
      width: 100%;
      height: 100%;
      display: none;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 174px);
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      background: #ed7468;
      position: absolute;
      top: 0;
      left: 0;
      &_element {
         background-color: #e84c3d;
         &:hover {
            z-index: 1;
            box-shadow: 0 0 7px #fff;
         }
      }
      &.active {
         display: grid;
      }
   }
   &__photography {
      display: none;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 174px);
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      background: #94ed68;
      position: absolute;
      top: 0;
      left: 0;
      &_element {
         background-color: #70e83d;
         &:hover {
            z-index: 1;
            box-shadow: 0 0 7px #fff;
         }
      }
      &.active {
         display: grid;
      }
   }
   &__webDesign {
      z-index: 1;
      display: none;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 174px);
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      background: #eddd68;
      position: absolute;
      top: 0;
      left: 0;
      &_element {
         background-color: #e8ce3d;
         &:hover {
            z-index: 1;
            box-shadow: 0 0 7px #fff;
         }
      }
      &.active {
         display: grid;
      }
   }
   &__branding {
      display: none;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 174px);
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      background: #68e6ed;
      position: absolute;
      top: 0;
      left: 0;
      &_element {
         background-color: #3de8c9;
         &:hover {
            z-index: 1;
            box-shadow: 0 0 7px #fff;
         }
      }
      &.active {
         display: grid;
      }
   }
   &__mobileApp {
      display: none;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 174px);
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      background: #68aaed;
      position: absolute;
      top: 0;
      left: 0;
      &_element {
         background-color: #653de8;
         &:hover {
            z-index: 1;
            box-shadow: 0 0 7px #fff;
         }
      }
      &.active {
         display: grid;
      }
   }
}
.whoWeAre {
   width: 100%;
   display: flex;
   justify-content: center;
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 81px;
      font-size: 48px;
      letter-spacing: 0.1em;
      color: #3d3d3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         bottom: -12px;
         width: 153px;
         height: 3px;
         background-color: #f4511e;
      }
      @media (max-width: $md1) {
         margin-top: 20px;
      }
      @media (max-width: $md2) {
         font-size: 36px;
      }
   }
   &__subtitle {
      margin: 25px 0 84px 0;
      line-height: 1.2;
      font-size: 14.1px;
      font-weight: 100;
      color: #696969;
      @media (max-width: $md1) {
         margin: 20px 0 24px 0;
      }
   }
   &__boxForSliders {
      width: 100%;
      height: 436px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: $md1) {
         height: 320px;
      }
      @media (max-width: $md2) {
         height: 280px;
      }
      @media (max-width: $md3) {
         height: 240px;
      }
   }
   &__sliderPersonalCard {
      width: 320px;
      height: 100%;
      background-color: #ebebeb;
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin-right: 23px;
      @media (max-width: $md0) {
         width: 240px;
      }
      @media (max-width: $md3) {
         margin-right: 0;
         width: 100%;
      }
      &_item {
         width: 100%;
         height: 326px;
         display: flex;
         flex-direction: column;
         align-items: center;
         @media (max-width: $md1) {
            height: 100%;
         }
         .personalPhoto {
            margin-top: 72px;
            width: 134px;
            height: 134px;
            border-radius: 100%;
            overflow: hidden;
            @media (max-width: $md2) {
               width: 107px;
               height: 107px;
            }
            img {
               display: block;
               max-width: 100%;
            }
            @media (max-width: $md1) {
               margin-top: 36px;
            }
            @media (max-width: $md3) {
               margin-top: 20px;
            }
         }
         .personalName {
            text-transform: uppercase;
            margin-top: 31px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #3d3d3d;
            @media (max-width: $md1) {
               margin-top: 24px;
               font-size: 16px;
            }
         }
         .personalPost {
            text-transform: uppercase;
            margin-top: 7px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.1em;
            color: #3d3d3d;
         }
         .socialNetworks {
            margin-top: 21px;
            @media (max-width: $md1) {
               margin-top: 12px;
            }
         }
      }
      .slick-dots {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .slick-dots li {
         list-style: none;
         margin: 0 9px;
      }
      .slick-dots li button {
         font-size: 0;
         width: 11px;
         height: 11px;
         background-color: #fff;
         border-radius: 50%;
         cursor: pointer;
      }
      .slick-dots li.slick-active button {
         background-color: #8e8181;
         cursor: pointer;
      }
      .slick-list {
         overflow: hidden;
      }
      .slick-track {
         display: flex;
      }
      .slick-list.draggable {
         width: 100%;
      }
   }
   &__sliderSkills {
      width: 661px;
      height: 100%;
      background-color: #ebebeb;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;
      @media (max-width: $md0) {
         width: 580px;
      }
      @media (max-width: $md1) {
         width: 60%;
      }
      @media (max-width: $md3) {
         display: none;
      }
      &_item {
         z-index: 1;
         width: 557px;
         height: 326px;
         margin: 123px 0 0 64px;
         display: flex;
         flex-direction: column;
         align-items: start;
         @media (max-width: $md1) {
            width: 100%;
            height: 100%;
            margin: 36px 0 0 30px;
         }
         .heading {
            font-family: "RobotoCondensed";
            font-size: 24px;
            line-height: 0.75;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #3d3d3d;
            text-transform: uppercase;
            @media (max-width: $md2) {
               font-size: 20px;
            }
         }
         .textSkills {
            width: 557px;
            margin-top: 25px;
            text-align: left;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 100;
            color: #858383;
            @media (max-width: $md1) {
               width: 100%;
               margin-top: 15px;
            }
         }
         .boxForSkillsLevel {
            margin-top: 42px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            @media (max-width: $md1) {
               margin-top: 15px;
            }
            .columnForNameSkills {
               text-align: start;
               .nameSkill {
                  margin-right: 14px;
                  font-family: "Roboto";
                  font-size: 14px;
                  line-height: 0.75;
                  font-weight: 700;
                  letter-spacing: 0.1em;
                  color: #3d3d3d;
                  @media (max-width: $md1) {
                     font-size: 12px;
                  }
                  &:not(:last-child) {
                     margin-bottom: 20px;
                  }
               }
            }
            .columnForSkillsLevel {
               .skillLevel {
                  font-family: "Roboto";
                  font-size: 14px;
                  line-height: 0.75;
                  font-weight: 300;
                  color: #3d3d3d;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  .progressBar {
                     height: 1px;
                     width: 369px;
                     background-color: #fff;
                     margin-right: 11px;
                     position: relative;
                     @media (max-width: $md1) {
                        width: 280px;
                     }
                     @media (max-width: $md2) {
                        width: 180px;
                     }
                     .progressLevel {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: #e84c3d;
                     }
                  }
                  &:not(:last-child) {
                     margin-bottom: 20px;
                  }
               }
            }
         }
      }
      .slick-list {
         overflow: hidden;
      }
      .slick-track {
         display: flex;
      }
      .slick-list.draggable {
         width: 100%;
      }
   }
}
.someFeatures {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 105px;
   background: #171f23;
   height: 384px;
   @media (max-width: $md1) {
      margin-top: 45px;
   }
   &__container {
      width: 1366px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (max-width: $md0) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 60px;
      font-family: "RobotoCondensed";
      font-size: 36px;
      line-height: 0.75;
      font-weight: 400;
      letter-spacing: 0.2em;
      color: #f6f6f6;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: $md1) {
         margin-top: 40px;
      }
      @media (max-width: $md3) {
         font-size: 24px;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -20px;
         width: 86px;
         height: 1px;
         background-color: #404040;
      }
   }
   &__points {
      margin-top: 44px;
      display: grid;
      grid-template-columns: repeat(4, 146px);
      grid-template-rows: 165px;
      grid-column-gap: 105px;
      justify-content: center;
      align-items: center;
      @media (max-width: $md1) {
         margin-top: 34px;
         grid-template-columns: repeat(4, 1fr);
         grid-column-gap: 20px;
      }
      @media (max-width: $md3) {
         margin-top: 34px;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-column-gap: 20px;
         grid-row-gap: 30px;
      }
   }
   &__point {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_image {
         height: 56px;
         width: 56px;
         display: flex;
         justify-content: center;
         align-items: center;
         @media (max-width: $md2) {
            height: 48px;
            width: 48px;
         }
         @media (max-width: $md3) {
            height: 36px;
            width: 36px;
         }
         img {
            width: 100%;
            display: block;
         }
      }
      &_name {
         font-family: "Roboto";
         line-height: 0.75;
         font-size: 18px;
         font-weight: 300;
         color: #f6f6f6;
         margin-top: 27px;
         @media (max-width: $md3) {
            font-size: 16px;
         }
      }
      &_quantity {
         font-family: "Roboto";
         line-height: 0.75;
         font-size: 48px;
         font-weight: 300;
         color: #f6f6f6;
         margin-top: 28px;
         @media (max-width: $md3) {
            font-size: 36px;
            margin-top: 12px;
         }
      }
   }
}
.blogPosts {
   width: 100%;
   display: flex;
   justify-content: center;
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $md0) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 75px;
      font-size: 48px;
      letter-spacing: 0.1em;
      color: #3d3d3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @media (max-width: $md1) {
         margin-top: 20px;
         font-size: 36px;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -12px;
         width: 153px;
         height: 3px;
         background-color: #f4511e;
      }
   }
   &__subtitle {
      margin-top: 25px;
      line-height: 1.2;
      font-size: 14.1px;
      font-weight: 100;
      color: #696969;
   }
   &__postsLine {
      margin-top: 72px;
      display: grid;
      grid-template-columns: repeat(3, 320px);
      grid-template-rows: 426px;
      grid-column-gap: 24px;
      justify-content: center;
      align-items: center;
      @media (max-width: $md0) {
         margin-top: 24px;
         grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $md1) {
         grid-template-rows: 330px;
      }
      @media (max-width: $md2) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(3, 240px);
         grid-row-gap: 12px;
      }
   }
   &__postBody {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #ebebeb;
      &_image {
         height: 218px;
         width: 100%;
         background-color: #787474;
         display: flex;
         justify-content: center;
         align-items: center;
         @media (max-width: $md0) {
            justify-content: flex-end;
            align-items: flex-end;
         }
         @media (max-width: $md1) {
            height: 50%;
         }
         a:not(:last-child) {
            margin-right: 21px;
            @media (max-width: $md0) {
               margin-right: 0;
            }
         }
         .additionalButton {
            display: none;
            width: 43px;
            height: 43px;
            background: #f6e5e0;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            @media (max-width: $md0) {
               width: 36px;
               height: 36px;
               margin: 5px;
            }
            img {
               width: 100%;
            }
            .imageViewActive {
               display: none;
            }
            .imageViewUnactive {
               display: block;
            }
            .imageLinkActive {
               display: none;
            }
            .imageLinkUnactive {
               display: block;
            }
            &:hover {
               background: #e87e5d;
               .imageViewActive {
                  display: block;
               }
               .imageViewUnactive {
                  display: none;
               }
               .imageLinkActive {
                  display: block;
               }
               .imageLinkUnactive {
                  display: none;
               }
            }
         }
         &:hover {
            background: center/cover no-repeat url("../assets/img/bg_blogPost.png");
            .additionalButton {
               display: flex;
            }
         }
         @media (max-width: $md0) {
            background: center/cover no-repeat url("../assets/img/bg_blogPost.png");
            .additionalButton {
               display: flex;
            }
         }
      }
      &_content {
         margin-top: 38px;
         padding: 0 25px;
         @media (max-width: $md0) {
            margin-top: 24px;
            padding: 0 15px;
         }
      }
      &_title {
         text-align: start;
         font-family: "Roboto";
         font-size: 18px;
         font-weight: 300;
         letter-spacing: 0.1em;
         color: #505050;
      }
      &_text {
         text-align: start;
         font-family: "Roboto";
         font-size: 14px;
         line-height: 1.2;
         font-weight: 100;
         letter-spacing: 0.05em;
         color: #797979;
         margin: 28px 0 0 4px;
         @media (max-width: $md1) {
            margin: 12px 0 0 4px;
         }
      }
      &_dataPost {
         font-family: "RobotoCondensed";
         font-size: 10px;
         line-height: 0.75;
         font-weight: 400;
         letter-spacing: 0.1em;
         color: #8a8989;
         margin-top: 26px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         @media (max-width: $md3) {
            margin-top: 12px;
         }
      }
      &_date {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         img {
            margin-right: 7px;
         }
      }
      &_likesAndComments {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         width: 65px;
         height: 12px;
      }
      &_likes {
         width: 29px;
         height: 12px;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         margin-right: 10px;
         img {
            margin-right: 4px;
         }
      }
      &_comments {
         width: 29px;
         height: 12px;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         img {
            margin-right: 4px;
         }
      }
   }
}
.chosePlan {
   width: 100%;
   display: flex;
   justify-content: center;
   background: #171f23;
   height: 706px;
   margin-top: 115px;
   @media (max-width: $md1) {
      margin-top: 45px;
      height: 600px;
   }
   @media (max-width: $md4) {
   }
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      @media (max-width: $md0) {
         width: 100%;
      }
   }
   &__title {
      font-family: "RobotoCondensed";
      font-size: 36px;
      line-height: 0.75;
      font-weight: 400;
      letter-spacing: 0.2em;
      color: #f6f6f6;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      @media (max-width: $md1) {
         margin-top: 40px;
      }
      @media (max-width: $md3) {
         font-size: 24px;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -20px;
         width: 86px;
         height: 1px;
         background-color: #404040;
      }
   }
   &__plansLine {
      margin-top: 55px;
      display: grid;
      grid-template-columns: repeat(4, 234px);
      grid-template-rows: 451px;
      grid-column-gap: 2px;
      @media (max-width: $md1) {
         margin-top: 30px;
         grid-template-columns: repeat(2, 234px);
         grid-template-rows: repeat(4, 240px);
         grid-row-gap: 2px;
      }
      @media (max-width: $md4) {
         width: 100%;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(4, 1fr);
         grid-row-gap: 2px;
      }
   }
   &__planBody {
      height: 100%;
      width: 100%;
      background: #1f282c;
      border: 1px solid #1f282c;
      @media (max-width: $md4) {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
      }
      &_heading {
         height: 128px;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #0e1316;
         @media (max-width: $md1) {
            height: 25%;
         }
         @media (max-width: $md4) {
            height: 100%;
            width: 40%;
         }
         .planName {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #ffffff;
            text-transform: uppercase;
         }
         .price {
            margin-top: 8px;
            font-size: 36px;
            font-weight: 100;
            color: #ffffff;
            span {
               font-size: 24px;
            }
         }
      }
      &_content {
         width: 100%;
         height: 321px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         @media (max-width: $md1) {
            height: 75%;
         }
         @media (max-width: $md4) {
            height: 100%;
            width: 60%;
            padding: 5px;
         }
         p {
            font-family: "Roboto";
            font-size: 14.2px;
            font-weight: 100;
            color: #ffffff;
            line-height: 0.75;
            letter-spacing: 0.1em;
            margin-bottom: 19px;
            @media (max-width: $md1) {
               margin-bottom: 9px;
            }
            span {
               margin-right: 7px;
               font-weight: 400;
               color: #ffffff;
            }
         }
         button {
            margin-top: 55px;
            font-family: "Roboto";
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #ffffff;
            width: 125px;
            height: 34px;
            background-color: #f6744b;
            border-radius: 3px;
            text-transform: uppercase;
            cursor: pointer;
            @media (max-width: $md1) {
               margin-top: 10px;
            }
         }
      }
      &:hover {
         border: 1px solid #f6744b;
         .quantity {
            color: #f6744b;
         }
      }
   }
}
.getInTouch {
   width: 100%;
   display: flex;
   justify-content: center;
   z-index: 1000;
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $md0) {
         width: 100%;
      }
   }
   &__title {
      margin-top: 83px;
      font-size: 48px;
      letter-spacing: 0.1em;
      color: #3d3d3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @media (max-width: $md1) {
         margin-top: 50px;
      }
      @media (max-width: $md2) {
         font-size: 48px;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: -12px;
         width: 153px;
         height: 3px;
         background-color: #f4511e;
      }
   }
   &__subtitle {
      margin-top: 26px;
      line-height: 1.2;
      font-size: 14.1px;
      font-weight: 100;
      color: #696969;
   }
   &__form {
      margin-top: 98px;
      width: 773px;
      height: 216px;
      @media (max-width: $md1) {
         width: 100%;
         margin-top: 48px;
      }
      form {
         width: 100%;
         height: 100%;
         display: grid;
         grid-template-columns: repeat(2, 371px);
         grid-template-rows: 70px 102px 51px;
         grid-column-gap: 30px;
         grid-row-gap: 44px;
         grid-template-areas:
            "name mail"
            "message message"
            "send send";
         @media (max-width: $md1) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 70px 102px 30px;
            grid-row-gap: 20px;
         }
         label {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            input,
            textarea {
               width: 100%;
               height: 100%;
               font-family: "Roboto";
               font-weight: 400;
               font-size: 14px;
               line-height: 1.2;
               letter-spacing: 0.1em;
               padding: 20px 5px 5px 5px;
               color: #696969;
               resize: none;
               border-bottom: 1px solid #cacaca;
               &:invalid {
                  .placeholderText {
                     display: block;
                  }
               }
            }
            .placeholderText {
               display: block;
               position: absolute;
               padding: 2px 0 3px 5px;
               top: 1px;
               left: 1px;
               font-family: "Roboto";
               font-size: 14px;
               line-height: 0.75;
               font-weight: 700;
               letter-spacing: 0.1em;
               color: #696969;
               background-color: #fff;
               width: 97.7%;
               text-align: left;
               span {
                  color: #f6744b;
               }
            }
            textarea {
            }
         }
         .userNamePlaceholderBox {
            grid-area: name;
         }
         .userMailPlaceholderBox {
            grid-area: mail;
         }
         .userMessagePlaceholderBox {
            grid-area: message;
         }
         .sendMessage {
            grid-area: send;
            text-transform: uppercase;
            background-color: #f6744b;
            justify-self: center;
            height: 100%;
            width: 203px;
            margin-top: 16px;
            font-family: "Roboto";
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #ffffff;
            @media (max-width: $md1) {
               margin-top: 0;
            }
         }
      }
   }
}
.locateOnMap {
   margin-top: 194px;
   width: 100%;
   display: flex;
   justify-content: center;
   background-color: #0c1215;
   position: relative;
   @media (max-width: $md1) {
      margin-top: 44px;
   }
   &__container {
      width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      @media (max-width: $md0) {
         width: 100%;
      }
   }
   &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      height: 84px;
      @media (max-width: $md1) {
         height: 62px;
      }
      &_text {
         font-family: "RobotoCondensed";
         font-size: 24px;
         line-height: 1.2;
         font-weight: 700;
         letter-spacing: 0.1em;
         color: #ffffff;
         margin-right: 13px;
      }
      &_arrow {
         width: 18px;
         height: 11px;
         transition: all 0.3s ease 0s;
         background: center/cover no-repeat url("../assets/img/icons/locateArrowDown.png");
         &.opened {
            transform: rotate(180deg);
         }
      }
   }
}
.weOnMap {
   width: 100%;
   height: 100%;
   background: #171f23;
   border-bottom: 8px solid #0c1215;
   display: none;
   justify-content: center;
   align-items: center;
   iframe {
      width: 480px;
      height: 320px;
      @media (max-width: $md1) {
         width: 70%;
         height: 70%;
      }
   }
   &.opened {
      display: flex;
   }
}
@import "footer";
