<div class="footer">
   <div class="footer__container">
      <div class="footer__container_logo">
         <img src="./assets/img/logo.png" alt="BOOSTFOLIA" title="BOOSTFOLIA">
      </div>
      <div class="footer__container_title">
         BOOSTFOLIA
      </div>
      <div class="footer__container_motto">
         MADE WITH LOVE BY CREATIVEPRODUCT
      </div>
      <div class="footer__container_socialNetworks">
         <a href="javascript:void(0)"><img src="./assets/img/icons/behanceIconFooter.png" alt=""></a>
         <a href="javascript:void(0)"><img src="./assets/img/icons/twitterIconFooter.png" alt=""></a>
         <a href="javascript:void(0)"><img src="./assets/img/icons/facebookIconFooter.png" alt=""></a>
      </div>
   </div>
</div>