<header class="header">
   <span class="header__bottomLine"></span>
   <div class="header__container">
      <div class="header__logo">
         <div class="header__logo_image">
            <img src="./assets/img/logo.png" title="BOOSTFOLIA">
         </div>
         <div class="header__logo_title forFontBigNoodleTitle">BOOSTFOLIA</div>
      </div>
      <nav class="header__navigationMenu" id="navMenu">
         <ul class="header__navigationMenuList">
            <li><a href="#aboutUs">About Us</a></li>
            <li><a href="#ourWorks">Our Works</a> </li>
            <li><a href="#whoWeAre">Who We Are</a></li>
            <li><a href="#blogPosts">Blog Posts</a></li>
            <li><a href="#chosePlan">Plans</a></li>
         </ul>
      </nav>
      <div class="header__burger">
         <span class="header__burgerLine header__burgerLine_firstLine"></span>
         <span class="header__burgerLine header__burgerLine_centerLine"></span>
         <span class="header__burgerLine header__burgerLine_lastLine"></span>
      </div>
   </div>
</header>