@font-face {
  font-family: "BigNoodleTitling";
  src: url("../assets/fonts/BigNoodleTitling.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoThin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensedBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensedRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MgOpenModataRegular";
  src: url("../assets/fonts/MgOpenModataRegular.ttf") format("truetype");
  font-weight: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.forFontBigNoodleTitle {
  font-family: "BigNoodleTitling";
  line-height: 0.75em;
  font-weight: 400;
}

.forFontRoboto {
  font-family: "Roboto";
  line-height: 0.75em;
}

.header {
  width: 100%;
  background: #f8f6f6;
  height: 140px;
  border-bottom: 3px solid #edebeb;
  overflow: auto;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
}

.header__bottomLine {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #f0eeee;
}

.header__container {
  width: 1366px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 50%;
  position: absolute;
  left: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__logo_image {
  width: 29px;
  height: 45px;
  margin-right: 25px;
}

.header__logo_image img {
  width: 100%;
  height: 100%;
  display: block;
}

.header__logo_title {
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: #696969;
}

.header__navigationMenu {
  max-width: 50%;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: -100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__navigationMenu.active {
  top: calc(50% - 10px);
}

.header__navigationMenuList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigationMenuList:hover {
  background-color: #ebebeb;
}

.header__navigationMenuList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1px 3px;
}

.header__navigationMenuList li a {
  text-decoration: none;
  color: #696969;
  font-family: "BigNoodleTitle";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 0.75;
}

.header__navigationMenuList li:hover {
  background: #353535;
}

.header__navigationMenuList li:hover a {
  color: #d6d5d5;
}

.header__burger {
  width: 38px;
  height: 21px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 188px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger.active {
  bottom: 30px;
}

.header__burgerLine {
  background-color: #464646;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__burgerLine_firstLine {
  margin-bottom: 7px;
}

.header__burgerLine_lastLine {
  margin-top: 7px;
}

.header__burgerLine_centerLine.active {
  width: 60%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 0;
}

.header__burgerLine_firstLine.active {
  width: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 3px;
  top: 9px;
}

.header__burgerLine_lastLine.active {
  width: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 3px;
  bottom: 10px;
}

.clientsSlider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientsSlider__container {
  width: 1366px;
  height: 240px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientsSlider__body {
  width: 876px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.clientsSlider__item {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientsSlider__item_companyLogo {
  position: relative;
  width: 52px;
  height: 56px;
}

.clientsSlider__item_companyLogo img {
  width: 100%;
  display: block;
}

.clientsSlider__item_companyName {
  font-family: "MgOpenModataRegular";
  font-weight: normal;
  font-size: 33px;
  line-height: 40px;
  color: #ececec;
}

.clientsSlider__item .companyLogoActive {
  top: 0;
  right: 10px;
  position: absolute;
  display: block;
}

.clientsSlider__item .companyLogoUnactive {
  top: 0;
  right: 10px;
  position: absolute;
  display: block;
}

.clientsSlider__item.slick-active .companyLogoActive {
  z-index: 0;
}

.clientsSlider__item.slick-active .companyLogoUnactive {
  z-index: 1;
}

.clientsSlider__item.slick-current.slick-active .companyLogoActive {
  z-index: 1;
}

.clientsSlider__item.slick-current.slick-active .companyLogoUnactive {
  z-index: 0;
}

.clientsSlider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 16px;
  height: 27px;
  cursor: pointer;
  z-index: 2;
}

.clientsSlider .slick-arrow.slick-prev {
  background: url("../assets/img/clients/arrow_left.png") 0 0/100% no-repeat;
  left: 0;
}

.clientsSlider .slick-arrow.slick-next {
  background: url("../assets/img/clients/arrow_right.png") 0 0/100% no-repeat;
  right: 0;
}

.clientsSlider .slick-list {
  overflow: hidden;
}

.clientsSlider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clientsSlider .slick-list.draggable {
  width: 100%;
}

.topMotto {
  width: 100%;
  height: 708px;
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #353535;
}

.topMotto__container {
  position: relative;
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.topMotto__title {
  margin-top: 323px;
  font-size: 72px;
  letter-spacing: 0.15em;
  color: #d6d5d5;
}

.topMotto__subtitle {
  margin-top: 25px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #d6d5d5;
}

.topMotto__scrollDown {
  margin-top: 171px;
}

.topMotto__scrollDown img {
  width: 17px;
  height: 37px;
}

.topMotto__scrollDown_title {
  margin-top: 19px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.aboutUs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutUs__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutUs__title {
  margin-top: 94px;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.aboutUs__title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
}

.aboutUs__subtitle {
  margin-top: 25px;
  line-height: 1.2;
  font-size: 14.1px;
  font-weight: 100;
  color: #696969;
}

.aboutUs__sections {
  margin-top: 57px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 195px;
  grid-column-gap: 21px;
}

.aboutUs__sectionsPoint {
  background: #ebebeb;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.aboutUs__sectionsPointImage {
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs__sectionsPointImage img {
  display: block;
  width: 100%;
}

.aboutUs__sectionsPointContent {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs__sectionsPointContent_title {
  font-size: 17.7px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #707070;
  text-transform: uppercase;
}

.aboutUs__sectionsPointContent_text {
  margin-top: 16px;
  width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #707070;
}

.aboutUs__blockVideo {
  width: 100%;
  height: 430px;
  margin-top: 118px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 430px;
}

.aboutUs__blockVideoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171f23;
}

.aboutUs__blockVideoText_title {
  margin-top: 130px;
  font-size: 30px;
  font-weight: 700;
  color: #e7e7e7;
  letter-spacing: 0.025em;
}

.aboutUs__blockVideoText_article {
  width: 500px;
  margin-top: 30px;
  font-size: 14px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
}

.aboutUs__blockVideoText button {
  margin-top: 48px;
  width: 127px;
  height: 37px;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ebebeb;
  cursor: pointer;
}

.aboutUs__blockVideoText button:hover {
  background: #9d3329;
  border-bottom: 2px solid #8e0c00;
}

.aboutUs__blockVideoPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: center/cover no-repeat url("../assets/img/blockVideoStubImageBlack.png");
}

.aboutUs__blockVideoPlayer:hover {
  background: center/cover no-repeat url("../assets/img/blockVideoStubImage.png");
}

.aboutUs__blockVideoPlayer:active {
  background: center/cover no-repeat url("../assets/img/blockVideoStubImageActive.png");
}

.aboutUs__blockVideoPlayer #video {
  display: none;
}

.aboutUs__blockVideoPlayer #video.played {
  display: block;
}

.aboutUs__blockVideoPlayer iframe {
  width: 100%;
  height: 100%;
}

.ourWorks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourWorks__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ourWorks__title {
  margin-top: 77px;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ourWorks__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
}

.ourWorks__subtitle {
  margin-top: 25px;
  line-height: 1.2;
  font-size: 14.1px;
  font-weight: 100;
  color: #696969;
}

.ourWorks__navigationMenu {
  margin-top: 84px;
}

.ourWorks__navigationMenuList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20px;
  grid-column-gap: 33px;
}

.ourWorks__navigationMenuList li a {
  text-decoration: none;
  font-size: 13.7px;
  font-weight: 100;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourWorks__navigationMenuList li a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 70%;
  height: 1px;
  background-color: #e84c3d;
}

.ourWorks__navigationMenuList li a:hover {
  font-weight: 700;
}

.ourWorks__navigationMenuList li a:hover::after {
  width: 80%;
}

.ourWorks__navigationMenuList li a:active::after {
  height: 2px;
}

.ourWorks__navigationMenuList li a.active {
  font-weight: 700;
}

.ourWorks__navigationMenuList li a.active::after {
  width: 80%;
}

.ourWorks__directions {
  position: relative;
  width: 100%;
  height: 524px;
  margin-top: 26px;
}

.ourWorks__allProjects {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 174px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background: #ed7468;
  position: absolute;
  top: 0;
  left: 0;
}

.ourWorks__allProjects_element {
  background-color: #e84c3d;
}

.ourWorks__allProjects_element:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.ourWorks__allProjects.active {
  display: grid;
}

.ourWorks__photography {
  display: none;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 174px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background: #94ed68;
  position: absolute;
  top: 0;
  left: 0;
}

.ourWorks__photography_element {
  background-color: #70e83d;
}

.ourWorks__photography_element:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.ourWorks__photography.active {
  display: grid;
}

.ourWorks__webDesign {
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 174px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background: #eddd68;
  position: absolute;
  top: 0;
  left: 0;
}

.ourWorks__webDesign_element {
  background-color: #e8ce3d;
}

.ourWorks__webDesign_element:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.ourWorks__webDesign.active {
  display: grid;
}

.ourWorks__branding {
  display: none;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 174px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background: #68e6ed;
  position: absolute;
  top: 0;
  left: 0;
}

.ourWorks__branding_element {
  background-color: #3de8c9;
}

.ourWorks__branding_element:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.ourWorks__branding.active {
  display: grid;
}

.ourWorks__mobileApp {
  display: none;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 174px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background: #68aaed;
  position: absolute;
  top: 0;
  left: 0;
}

.ourWorks__mobileApp_element {
  background-color: #653de8;
}

.ourWorks__mobileApp_element:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.ourWorks__mobileApp.active {
  display: grid;
}

.whoWeAre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whoWeAre__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.whoWeAre__title {
  margin-top: 81px;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.whoWeAre__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
}

.whoWeAre__subtitle {
  margin: 25px 0 84px 0;
  line-height: 1.2;
  font-size: 14.1px;
  font-weight: 100;
  color: #696969;
}

.whoWeAre__boxForSliders {
  width: 100%;
  height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whoWeAre__sliderPersonalCard {
  width: 320px;
  height: 100%;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 23px;
}

.whoWeAre__sliderPersonalCard_item {
  width: 100%;
  height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whoWeAre__sliderPersonalCard_item .personalPhoto {
  margin-top: 72px;
  width: 134px;
  height: 134px;
  border-radius: 100%;
  overflow: hidden;
}

.whoWeAre__sliderPersonalCard_item .personalPhoto img {
  display: block;
  max-width: 100%;
}

.whoWeAre__sliderPersonalCard_item .personalName {
  text-transform: uppercase;
  margin-top: 31px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}

.whoWeAre__sliderPersonalCard_item .personalPost {
  text-transform: uppercase;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}

.whoWeAre__sliderPersonalCard_item .socialNetworks {
  margin-top: 21px;
}

.whoWeAre__sliderPersonalCard .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whoWeAre__sliderPersonalCard .slick-dots li {
  list-style: none;
  margin: 0 9px;
}

.whoWeAre__sliderPersonalCard .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.whoWeAre__sliderPersonalCard .slick-dots li.slick-active button {
  background-color: #8e8181;
  cursor: pointer;
}

.whoWeAre__sliderPersonalCard .slick-list {
  overflow: hidden;
}

.whoWeAre__sliderPersonalCard .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoWeAre__sliderPersonalCard .slick-list.draggable {
  width: 100%;
}

.whoWeAre__sliderSkills {
  width: 661px;
  height: 100%;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.whoWeAre__sliderSkills_item {
  z-index: 1;
  width: 557px;
  height: 326px;
  margin: 123px 0 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.whoWeAre__sliderSkills_item .heading {
  font-family: "RobotoCondensed";
  font-size: 24px;
  line-height: 0.75;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-transform: uppercase;
}

.whoWeAre__sliderSkills_item .textSkills {
  width: 557px;
  margin-top: 25px;
  text-align: left;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #858383;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForNameSkills {
  text-align: start;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForNameSkills .nameSkill {
  margin-right: 14px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 0.75;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForNameSkills .nameSkill:not(:last-child) {
  margin-bottom: 20px;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 0.75;
  font-weight: 300;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel .progressBar {
  height: 1px;
  width: 369px;
  background-color: #fff;
  margin-right: 11px;
  position: relative;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel .progressBar .progressLevel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e84c3d;
}

.whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel:not(:last-child) {
  margin-bottom: 20px;
}

.whoWeAre__sliderSkills .slick-list {
  overflow: hidden;
}

.whoWeAre__sliderSkills .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoWeAre__sliderSkills .slick-list.draggable {
  width: 100%;
}

.someFeatures {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 105px;
  background: #171f23;
  height: 384px;
}

.someFeatures__container {
  width: 1366px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.someFeatures__title {
  margin-top: 60px;
  font-family: "RobotoCondensed";
  font-size: 36px;
  line-height: 0.75;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #f6f6f6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.someFeatures__title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 86px;
  height: 1px;
  background-color: #404040;
}

.someFeatures__points {
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(4, 146px);
  grid-template-rows: 165px;
  grid-column-gap: 105px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.someFeatures__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.someFeatures__point_image {
  height: 56px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.someFeatures__point_image img {
  width: 100%;
  display: block;
}

.someFeatures__point_name {
  font-family: "Roboto";
  line-height: 0.75;
  font-size: 18px;
  font-weight: 300;
  color: #f6f6f6;
  margin-top: 27px;
}

.someFeatures__point_quantity {
  font-family: "Roboto";
  line-height: 0.75;
  font-size: 48px;
  font-weight: 300;
  color: #f6f6f6;
  margin-top: 28px;
}

.blogPosts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogPosts__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blogPosts__title {
  margin-top: 75px;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blogPosts__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
}

.blogPosts__subtitle {
  margin-top: 25px;
  line-height: 1.2;
  font-size: 14.1px;
  font-weight: 100;
  color: #696969;
}

.blogPosts__postsLine {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 426px;
  grid-column-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts__postBody {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ebebeb;
}

.blogPosts__postBody_image {
  height: 218px;
  width: 100%;
  background-color: #787474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts__postBody_image a:not(:last-child) {
  margin-right: 21px;
}

.blogPosts__postBody_image .additionalButton {
  display: none;
  width: 43px;
  height: 43px;
  background: #f6e5e0;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts__postBody_image .additionalButton img {
  width: 100%;
}

.blogPosts__postBody_image .additionalButton .imageViewActive {
  display: none;
}

.blogPosts__postBody_image .additionalButton .imageViewUnactive {
  display: block;
}

.blogPosts__postBody_image .additionalButton .imageLinkActive {
  display: none;
}

.blogPosts__postBody_image .additionalButton .imageLinkUnactive {
  display: block;
}

.blogPosts__postBody_image .additionalButton:hover {
  background: #e87e5d;
}

.blogPosts__postBody_image .additionalButton:hover .imageViewActive {
  display: block;
}

.blogPosts__postBody_image .additionalButton:hover .imageViewUnactive {
  display: none;
}

.blogPosts__postBody_image .additionalButton:hover .imageLinkActive {
  display: block;
}

.blogPosts__postBody_image .additionalButton:hover .imageLinkUnactive {
  display: none;
}

.blogPosts__postBody_image:hover {
  background: center/cover no-repeat url("../assets/img/bg_blogPost.png");
}

.blogPosts__postBody_image:hover .additionalButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPosts__postBody_content {
  margin-top: 38px;
  padding: 0 25px;
}

.blogPosts__postBody_title {
  text-align: start;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #505050;
}

.blogPosts__postBody_text {
  text-align: start;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #797979;
  margin: 28px 0 0 4px;
}

.blogPosts__postBody_dataPost {
  font-family: "RobotoCondensed";
  font-size: 10px;
  line-height: 0.75;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #8a8989;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPosts__postBody_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts__postBody_date img {
  margin-right: 7px;
}

.blogPosts__postBody_likesAndComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 12px;
}

.blogPosts__postBody_likes {
  width: 29px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.blogPosts__postBody_likes img {
  margin-right: 4px;
}

.blogPosts__postBody_comments {
  width: 29px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts__postBody_comments img {
  margin-right: 4px;
}

.chosePlan {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171f23;
  height: 706px;
  margin-top: 115px;
}

.chosePlan__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.chosePlan__title {
  font-family: "RobotoCondensed";
  font-size: 36px;
  line-height: 0.75;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #f6f6f6;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-transform: uppercase;
}

.chosePlan__title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 86px;
  height: 1px;
  background-color: #404040;
}

.chosePlan__plansLine {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 234px);
  grid-template-rows: 451px;
  grid-column-gap: 2px;
}

.chosePlan__planBody {
  height: 100%;
  width: 100%;
  background: #1f282c;
  border: 1px solid #1f282c;
}

.chosePlan__planBody_heading {
  height: 128px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e1316;
}

.chosePlan__planBody_heading .planName {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
}

.chosePlan__planBody_heading .price {
  margin-top: 8px;
  font-size: 36px;
  font-weight: 100;
  color: #ffffff;
}

.chosePlan__planBody_heading .price span {
  font-size: 24px;
}

.chosePlan__planBody_content {
  width: 100%;
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chosePlan__planBody_content p {
  font-family: "Roboto";
  font-size: 14.2px;
  font-weight: 100;
  color: #ffffff;
  line-height: 0.75;
  letter-spacing: 0.1em;
  margin-bottom: 19px;
}

.chosePlan__planBody_content p span {
  margin-right: 7px;
  font-weight: 400;
  color: #ffffff;
}

.chosePlan__planBody_content button {
  margin-top: 55px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 125px;
  height: 34px;
  background-color: #f6744b;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.chosePlan__planBody:hover {
  border: 1px solid #f6744b;
}

.chosePlan__planBody:hover .quantity {
  color: #f6744b;
}

.getInTouch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.getInTouch__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.getInTouch__title {
  margin-top: 83px;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.getInTouch__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
}

.getInTouch__subtitle {
  margin-top: 26px;
  line-height: 1.2;
  font-size: 14.1px;
  font-weight: 100;
  color: #696969;
}

.getInTouch__form {
  margin-top: 98px;
  width: 773px;
  height: 216px;
}

.getInTouch__form form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 371px);
  grid-template-rows: 70px 102px 51px;
  grid-column-gap: 30px;
  grid-row-gap: 44px;
  grid-template-areas: "name mail" "message message" "send send";
}

.getInTouch__form form label {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.getInTouch__form form label input,
.getInTouch__form form label textarea {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  padding: 20px 5px 5px 5px;
  color: #696969;
  resize: none;
  border-bottom: 1px solid #cacaca;
}

.getInTouch__form form label input:invalid .placeholderText,
.getInTouch__form form label textarea:invalid .placeholderText {
  display: block;
}

.getInTouch__form form label .placeholderText {
  display: block;
  position: absolute;
  padding: 2px 0 3px 5px;
  top: 1px;
  left: 1px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 0.75;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #696969;
  background-color: #fff;
  width: 97.7%;
  text-align: left;
}

.getInTouch__form form label .placeholderText span {
  color: #f6744b;
}

.getInTouch__form form .userNamePlaceholderBox {
  grid-area: name;
}

.getInTouch__form form .userMailPlaceholderBox {
  grid-area: mail;
}

.getInTouch__form form .userMessagePlaceholderBox {
  grid-area: message;
}

.getInTouch__form form .sendMessage {
  grid-area: send;
  text-transform: uppercase;
  background-color: #f6744b;
  justify-self: center;
  height: 100%;
  width: 203px;
  margin-top: 16px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.locateOnMap {
  margin-top: 194px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0c1215;
  position: relative;
}

.locateOnMap__container {
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.locateOnMap__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 84px;
}

.locateOnMap__title_text {
  font-family: "RobotoCondensed";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-right: 13px;
}

.locateOnMap__title_arrow {
  width: 18px;
  height: 11px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: center/cover no-repeat url("../assets/img/icons/locateArrowDown.png");
}

.locateOnMap__title_arrow.opened {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.weOnMap {
  width: 100%;
  height: 100%;
  background: #171f23;
  border-bottom: 8px solid #0c1215;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weOnMap iframe {
  width: 480px;
  height: 320px;
}

.weOnMap.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  width: 100%;
  height: 239px;
  background-color: #171f23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container_logo {
  margin-top: 10px;
}

.footer__container_title {
  text-transform: uppercase;
  font-family: "BigNoodleTitling";
  font-size: 24px;
  line-height: 0.75;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 9px;
}

.footer__container_motto {
  font-family: "RobotoCondensed";
  font-size: 14px;
  line-height: 0.75;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 14px;
}

.footer__container_socialNetworks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}

@media (max-width: 1004px) {
  .whoWeAre__sliderPersonalCard {
    width: 240px;
  }

  .whoWeAre__sliderSkills {
    width: 580px;
  }

  .someFeatures__container {
    width: 100%;
  }

  .blogPosts__container {
    width: 100%;
  }

  .blogPosts__postsLine {
    margin-top: 24px;
    grid-template-columns: repeat(3, 1fr);
  }

  .blogPosts__postBody_image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .blogPosts__postBody_image a:not(:last-child) {
    margin-right: 0;
  }

  .blogPosts__postBody_image .additionalButton {
    width: 36px;
    height: 36px;
    margin: 5px;
  }

  .blogPosts__postBody_image {
    background: center/cover no-repeat url("../assets/img/bg_blogPost.png");
  }

  .blogPosts__postBody_image .additionalButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blogPosts__postBody_content {
    margin-top: 24px;
    padding: 0 15px;
  }

  .chosePlan__container {
    width: 100%;
  }

  .getInTouch__container {
    width: 100%;
  }

  .locateOnMap__container {
    width: 100%;
  }

  .footer {
    height: 160px;
  }

  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 960px) {
  .header__logo {
    left: 94px;
  }

  .header__burger {
    right: 90px;
  }

  .clientsSlider__container {
    width: 100%;
    height: 100px;
  }

  .clientsSlider__body {
    width: 100%;
  }

  .clientsSlider__item {
    margin-top: 0;
  }

  .clientsSlider__item_companyLogo {
    width: 34.6px;
    height: 37.3px;
  }

  .clientsSlider__item_companyName {
    font-size: 24px;
  }

  .topMotto {
    margin-top: 140px;
    height: 240px;
  }

  .topMotto__container {
    width: 100%;
  }

  .topMotto__title {
    margin-top: 15px;
    line-height: 0.9;
    font-size: 64px;
  }

  .topMotto__subtitle {
    margin-top: 10px;
  }

  .topMotto__scrollDown {
    margin-top: 18px;
  }

  .topMotto__scrollDown_title {
    margin-top: 3px;
  }

  .aboutUs__container {
    width: 100%;
  }

  .aboutUs__title {
    margin-top: 30px;
  }

  .aboutUs__sections {
    margin-top: 20px;
    grid-template-columns: repeat(3, 240px);
    grid-column-gap: 14px;
  }

  .aboutUs__sectionsPoint {
    padding: 0 10px;
  }

  .aboutUs__sectionsPointContent_text {
    width: 200px;
    overflow: hidden;
  }

  .aboutUs__blockVideo {
    grid-template-rows: 170px 360px;
    grid-template-columns: 100%;
    margin-top: 20px;
  }

  .aboutUs__blockVideoText_title {
    margin-top: 20px;
  }

  .aboutUs__blockVideoText_article {
    margin-top: 15px;
    width: 90%;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    overflow: auto;
  }

  .aboutUs__blockVideoText button {
    margin: 12px 0;
  }

  .aboutUs__blockVideoPlayer {
    width: 100%;
    height: 100%;
  }

  .ourWorks__container {
    width: 100%;
  }

  .ourWorks__title {
    margin-top: 10px;
  }

  .ourWorks__subtitle {
    margin-top: 15px;
    font-size: 13px;
  }

  .ourWorks__navigationMenu {
    margin-top: 42px;
  }

  .ourWorks__directions {
    margin-top: 10px;
    height: 330px;
  }

  .ourWorks__directions .direction {
    grid-template-rows: repeat(3, 1fr);
  }

  .whoWeAre__container {
    width: 100%;
  }

  .whoWeAre__title {
    margin-top: 20px;
  }

  .whoWeAre__subtitle {
    margin: 20px 0 24px 0;
  }

  .whoWeAre__boxForSliders {
    height: 320px;
  }

  .whoWeAre__sliderPersonalCard_item {
    height: 100%;
  }

  .whoWeAre__sliderPersonalCard_item .personalPhoto {
    margin-top: 36px;
  }

  .whoWeAre__sliderPersonalCard_item .personalName {
    margin-top: 24px;
    font-size: 16px;
  }

  .whoWeAre__sliderPersonalCard_item .socialNetworks {
    margin-top: 12px;
  }

  .whoWeAre__sliderSkills {
    width: 60%;
  }

  .whoWeAre__sliderSkills_item {
    width: 100%;
    height: 100%;
    margin: 36px 0 0 30px;
  }

  .whoWeAre__sliderSkills_item .textSkills {
    width: 100%;
    margin-top: 15px;
  }

  .whoWeAre__sliderSkills_item .boxForSkillsLevel {
    margin-top: 15px;
  }

  .whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForNameSkills .nameSkill {
    font-size: 12px;
  }

  .whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel .progressBar {
    width: 280px;
  }

  .someFeatures {
    margin-top: 45px;
  }

  .someFeatures__title {
    margin-top: 40px;
  }

  .someFeatures__points {
    margin-top: 34px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }

  .blogPosts__title {
    margin-top: 20px;
    font-size: 36px;
  }

  .blogPosts__postsLine {
    grid-template-rows: 330px;
  }

  .blogPosts__postBody_image {
    height: 50%;
  }

  .blogPosts__postBody_text {
    margin: 12px 0 0 4px;
  }

  .chosePlan {
    margin-top: 45px;
    height: 600px;
  }

  .chosePlan__title {
    margin-top: 40px;
  }

  .chosePlan__plansLine {
    margin-top: 30px;
    grid-template-columns: repeat(2, 234px);
    grid-template-rows: repeat(4, 240px);
    grid-row-gap: 2px;
  }

  .chosePlan__planBody_heading {
    height: 25%;
  }

  .chosePlan__planBody_content {
    height: 75%;
  }

  .chosePlan__planBody_content p {
    margin-bottom: 9px;
  }

  .chosePlan__planBody_content button {
    margin-top: 10px;
  }

  .getInTouch__title {
    margin-top: 50px;
  }

  .getInTouch__form {
    width: 100%;
    margin-top: 48px;
  }

  .getInTouch__form form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 102px 30px;
    grid-row-gap: 20px;
  }

  .getInTouch__form form .sendMessage {
    margin-top: 0;
  }

  .locateOnMap {
    margin-top: 44px;
  }

  .locateOnMap__title {
    height: 62px;
  }

  .weOnMap iframe {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }

  .header__logo {
    left: 24px;
  }

  .header__logo_image {
    margin-right: 15px;
    width: 21.75px;
    height: 33.75px;
  }

  .header__logo_title {
    font-size: 36px;
  }

  .header__navigationMenuList li a {
    font-size: 14px;
  }

  .header__burger {
    right: 24px;
  }

  .clientsSlider__item_companyLogo {
    width: 30px;
    height: 34px;
  }

  .clientsSlider__item_companyName {
    font-size: 20px;
  }

  .topMotto {
    margin-top: 100px;
  }

  .topMotto__subtitle {
    margin-top: 10px;
  }

  .topMotto__scrollDown {
    margin-top: 10px;
  }

  .aboutUs__title {
    font-size: 36px;
  }

  .aboutUs__sections {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 7px;
  }

  .aboutUs__sectionsPoint {
    padding: 5px;
    height: 80%;
  }

  .aboutUs__sectionsPointImage img {
    width: 80%;
  }

  .aboutUs__sectionsPointContent_text {
    width: 140px;
  }

  .aboutUs__blockVideoText_title {
    font-size: 25px;
  }

  .aboutUs__blockVideoPlayer {
    height: 80%;
  }

  .ourWorks__title {
    font-size: 36px;
  }

  .ourWorks__navigationMenu {
    margin-top: 21px;
  }

  .ourWorks__navigationMenuList {
    grid-column-gap: 5px;
  }

  .ourWorks__navigationMenuList li a {
    font-size: 11px;
    line-height: 0.9;
  }

  .ourWorks__directions {
    height: 220px;
  }

  .ourWorks__directions .direction {
    grid-template-rows: repeat(2, 1fr);
  }

  .whoWeAre__title {
    font-size: 36px;
  }

  .whoWeAre__boxForSliders {
    height: 280px;
  }

  .whoWeAre__sliderPersonalCard_item .personalPhoto {
    width: 107px;
    height: 107px;
  }

  .whoWeAre__sliderSkills_item .heading {
    font-size: 20px;
  }

  .whoWeAre__sliderSkills_item .boxForSkillsLevel .columnForSkillsLevel .skillLevel .progressBar {
    width: 180px;
  }

  .someFeatures__point_image {
    height: 48px;
    width: 48px;
  }

  .blogPosts__postsLine {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 240px);
    grid-row-gap: 12px;
  }

  .getInTouch__title {
    font-size: 48px;
  }
}

@media (max-width: 620px) {
  .header {
    height: 70px;
  }

  .header__logo_image {
    margin-right: 10px;
  }

  .header__logo_title {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .header__navigationMenu.active {
    top: calc(50% - 30px);
    right: 50px;
  }

  .header__navigationMenuList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__burgerLine_centerLine.active {
    top: 0;
    right: 7px;
  }

  .header__burgerLine_firstLine.active {
    top: -8px;
  }

  .header__burgerLine_lastLine.active {
    top: -15px;
  }

  .clientsSlider__container {
    height: 80px;
  }

  .clientsSlider__item_companyLogo {
    width: 52px;
    height: 56px;
  }

  .clientsSlider__item_companyName {
    font-size: 36px;
  }

  .topMotto {
    height: 170px;
  }

  .topMotto__title {
    margin-top: 10px;
    font-size: 48px;
  }

  .topMotto__subtitle {
    display: none;
  }

  .aboutUs__sections {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: 98%;
    grid-row-gap: -10px;
  }

  .aboutUs__sectionsPoint {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
  }

  .aboutUs__sectionsPointImage {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
  }

  .aboutUs__sectionsPointImage img {
    margin-left: 10px;
    width: 70%;
  }

  .aboutUs__sectionsPointContent_text {
    width: 100%;
  }

  .aboutUs__sectionsPointContent {
    width: 100%;
  }

  .aboutUs__blockVideoPlayer {
    height: 60%;
  }

  .ourWorks__directions {
    height: 180px;
  }

  .whoWeAre__boxForSliders {
    height: 240px;
  }

  .whoWeAre__sliderPersonalCard {
    margin-right: 0;
    width: 100%;
  }

  .whoWeAre__sliderPersonalCard_item .personalPhoto {
    margin-top: 20px;
  }

  .whoWeAre__sliderSkills {
    display: none;
  }

  .someFeatures__title {
    font-size: 24px;
  }

  .someFeatures__points {
    margin-top: 34px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  .someFeatures__point_image {
    height: 36px;
    width: 36px;
  }

  .someFeatures__point_name {
    font-size: 16px;
  }

  .someFeatures__point_quantity {
    font-size: 36px;
    margin-top: 12px;
  }

  .blogPosts__postBody_dataPost {
    margin-top: 12px;
  }

  .chosePlan__title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    left: 10px;
  }

  .header__logo_image {
    margin-right: 5px;
  }

  .header__navigationMenu {
    margin-right: 0;
  }

  .header__burger {
    right: 14px;
  }

  .clientsSlider__item_companyLogo {
    width: 34.6px;
    height: 37.3px;
  }

  .clientsSlider__item_companyName {
    font-size: 24px;
  }

  .topMotto__title {
    font-size: 36px;
  }

  .topMotto__scrollDown {
    margin-top: 30px;
  }

  .chosePlan__plansLine {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2px;
  }

  .chosePlan__planBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .chosePlan__planBody_heading {
    height: 100%;
    width: 40%;
  }

  .chosePlan__planBody_content {
    height: 100%;
    width: 60%;
    padding: 5px;
  }

  .footer__container_motto {
    font-size: 12px;
  }
}
@supports (-webkit-appearance:none){
.clientsSlider .slick-arrow.slick-prev{background:url("../assets/img/clients/arrow_left.webp") 0 0/100% no-repeat}
.clientsSlider .slick-arrow.slick-next{background:url("../assets/img/clients/arrow_right.webp") 0 0/100% no-repeat}
.aboutUs__blockVideoPlayer{background:center/cover no-repeat url("../assets/img/blockVideoStubImageBlack.webp")}
.aboutUs__blockVideoPlayer:hover{background:center/cover no-repeat url("../assets/img/blockVideoStubImage.webp")}
.aboutUs__blockVideoPlayer:active{background:center/cover no-repeat url("../assets/img/blockVideoStubImageActive.webp")}
.blogPosts__postBody_image:hover{background:center/cover no-repeat url("../assets/img/bg_blogPost.webp")}
.locateOnMap__title_arrow{background:center/cover no-repeat url("../assets/img/icons/locateArrowDown.webp")}
}

 @media (max-width: 1004px){

@supports (-webkit-appearance:none){
.blogPosts__postBody_image{background:center/cover no-repeat url("../assets/img/bg_blogPost.webp")}
}

}

 @media (max-width: 960px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}
